# 組み込み型

複数の種類があるが、
- ミュータブル(オブジェクトを変えずに値を変更できる)
- イミュータブル(オブジェクトを変えてしまう)
- シーケンス(文字列など)
- イテラブル(繰り返し)
- コンテナ(リストやタプルなど数字・文字を囲むオブジェクト)

## ミュータブル

値が変わっても変数は変わらないぜ -> 値を簡単に変えられる

In [41]:
list1 = [1, 2, 3]
id(list1)

140565952723216

In [42]:
list1.append(4)
id(list1)

140565952723216

## イミュータブル

変数が変わらないと値が変わらない -> 簡単には値を変えることが出来ないオブジェクトが多い(プリミティブ除く)。

In [37]:
moji = "Hello" + "World"
id(moji)

140565948558192

In [38]:
moji = moji + "!"
id(moji)

140565951590448

## Pythonの基本的な型(プリミティブ(原始的な)型)

### int
### str
### float

複数の型を一緒に出来ない

In [1]:
A = 10 + "Hello"

TypeError: unsupported operand type(s) for +: 'int' and 'str'

In [4]:
A = "Hello" + ", " "World!"
A

'Hello, World!'

type関数で型を調べられる

In [5]:
B = 10
type(B)

int

C言語の用にキャスト出来る

In [6]:
float(B)

10.0

## list
普通の配列 ー＞ 文字・数字を一緒くたに入れれる

In [8]:
list1 = [1, "Hello", 2, 3] 
list1

[1, 'Hello', 2, 3]

## スライス
配列の好きな場所を指定して取り出す。

一番最後を取る時

In [12]:
list1[-1:]

[3]

途中を抜き出したい場合

In [14]:
list1[1:3]

['Hello', 2]

奇数を取り出したい場合

In [16]:
list1[1::2]

['Hello', 3]

偶数の場合(0も含む)

In [19]:
list1[0::2]

[1, 2]

## Ellipsis(エリプシス)

`...`

In [21]:
...

Ellipsis

In [23]:
import numpy as np

a = np.array([[1, 2],[3, 4]])
a

array([[1, 2],
       [3, 4]])

配列の0行目を取得

In [24]:
a[0, ...]

array([1, 2])

## array
リストに似ているが、一つの型しか許されない

`import array`

In [26]:
import array

arr_a = array.array('i', [0, 1, 2])
arr_a

array('i', [0, 1, 2])

操作はリストに似ている

In [29]:
arr_a[1]

1

In [28]:
sum(arr_a)

3

## ndarray
n dimension array(N 次元)

In [30]:
import numpy as np
 
x = np.array([[1, 2, 3, 4], 
              [5, 6, 7, 8], 
              [9, 10, 11, 12]])

np.mean(x)

6.5

## タプル
要素の入れ替えが出来ないコンテナ型オブジェクト <- 

リストとは違い、`()`で囲まれているのが特徴

In [32]:
mytuple = ("Orange", "Lemon", "Apple")
mytuple

('Orange', 'Lemon', 'Apple')

In [34]:
mytuple[0]

'Orange'

In [43]:
mytuple = mytuple + (1, 2, 3)
mytuple

('Orange', 'Lemon', 'Apple', 1, 2, 3)

イミュータブルであるため、他の型と連結は出来ない

In [45]:
mytuple = mytuple + [1, 2, 3]

TypeError: can only concatenate tuple (not "list") to tuple

## 辞書(dict, dictionary)
keyとvalueで構成される
{key:value, key1:value1}

In [49]:
mydict = {1:"Apple", 2:"Orange", 3:"Banana"}
val = mydict[1]
val

'Apple'

True か False で返す型を`boolean`(ブーラン)型と言う

In [50]:
mydict = {"apple":1, "orange":2, "banana":3}
"apple" in mydict.keys()

True